#hero-text {
    position: absolute;
    bottom: 50%;
    width: 100%;
    height: auto;
    font-weight: inherit;
    color: #fff;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
    font-weight: 100;
    font-size: 1.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: 100;
}
