/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  #masthead-text h1 {
    font-size: 2em;
    font-weight: 300;
  }

  #masthead-text h2 {
      font-size: 1em;
      font-weight: 300;
  }

  #following-menu {
    display: none;
  }

  #masthead-text-480-lower {
    display: block;
  }

  #masthead-text-480-plus {
    display: none;
  }

  #hero-menu {
    position: fixed;
}
