html {
  max-width: 1240px;
  margin: 0 auto;
}

html,
body {
  font-size: 18px;
}

section {
  padding: 2em 0;
}

.hidden.menu {
  display: none;
}

/*--------------------*/
/* Drop down navi menu*/
/*--------------------*/

#hero-menu-icon {
  font-size: 1.8em;
}

#hero-menu {
  margin-bottom: 0;
  border-radius: 0;
  position: absolute;
  text-align: center;
  font-weight: 300;
  top: 3%;
  left: 3%;
  z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #d0d0d0;
    background-color: #162b44;
    transition: color 0.5s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #fff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*--------------------*/
/* Hero page */
/*--------------------*/
.masthead {
    padding: 0;
    font-weight: 100;
    font-size: 1.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: 100;
    color: #fff;
}

.masthead-text {
    position: absolute;
    text-align: center;
    bottom: 40%;
    width: 100%;
    height: auto;
    color: #fff
}

.masthead-text h1 {
  font-size: 4em;
  font-weight: 100;
}

.masthead-text h2 {
    font-size: 1em;
    font-weight: 300;
}

#masthead-text-480-lower {
  display: none;
}

.section-portfolio {
  background-color: #f5f5f5;
}

.menu-content {
  display: none;
}

.menu-content.active {
  display: inherit;
}

.work.image {
  filter:grayscale(100%);
  transition: filter 0.5s;
}

.work.header {
  color: #162b44;
}

.work.image:hover {
  filter:grayscale(0%);
}

footer {
  min-height: 200px;
  background-color: #162b44;
}

.footer-icons {
  padding: 1em 0;
  font-size: 2em;
  color: #000;
}

.footer-text {
  color: #1a4b86;
}
